#Ingredients {
  background-image: url(assets\list-bg.png);
  margin: 0;
}

body {
  width: 960px;
}
.contentContainer {
  display: grid;
  grid-template-columns: 120px 90px 90px 90px 90px 90px 90px 90px 90px 120px;
  grid-template-areas:
    ". a a a a a logo logo logo ."
    ". l l l l l l l l ."
    ". b b b b b b b b ."
    ". c c c c c c c c ."
    ". d d d d d d d d ."
    ". e e e e e e e e ."
    ". l2 l2 l2 l2 l2 l2 l2 l2 ."
    ". f f f f f f button button ."
    ". g g g g g g g g .";
}
#headerWords {
  grid-area: a;
  padding-top: 30px;
  padding-bottom: 20px;
}
#silverware {
  max-width: 40px;
  float: left;
  padding-right: 5px;
}
#delicious h1 {
  max-width: 400px;
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  line-height: .8em;
  padding-bottom: 0;
  margin: 0;
}
#delicious p {
  text-transform: uppercase;
  max-width: 400px;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-size: 12px;
  padding-top: 0;
  padding-left: 50px;
  line-height: 1em;
}
#logos {
grid-area: logo;
align-self: center;
justify-self: end;
}
#logos img {
  align-self: center;
  width: 24px;
}
#logos img:nth-child(6) {
  margin-right: 5px;

}
#firstLine {
  grid-area: l;
}
.linebreak {
  height: 12px;
  background: repeating-linear-gradient(
  45deg,
  rgb(158, 156, 156),
  rgb(158, 156, 156) 1px,
  white 1px,
  white 3px
);
}
#articleTitle {
  grid-area: b;
}
#articleTitle h1 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 34px;
}
#articleTitle p {
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
    margin: 0;
  padding-top: 0;
  line-height: .8em;
  padding-bottom: 30px;
  font-size: 12px;
  color: rgb(158, 156, 156);

}
#printer {
  grid-area: b;
  justify-self: end;
  align-self: center;
  font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    font-size: 14px;
    color: rgb(158, 156, 156);

}
#pizzaPictureContainer {
  grid-area: c;
}
#pizzaPicture {
  width: 100%;
  object-fit: contain;
}
#directions {
  grid-area: d;
  text-indent: 2em;
  font-size: 13px;
  font-family: "Noto Serif JP", serif;
}
#ingredients {
  grid-area: e;
  background-image: url("assets/list-bg.png");
  font-family: "Patrick Hand", cursive;
  columns: 2;
  height: 300px;
}
#listOne {
  font-size: 20px;
  line-height: 1.6em;

padding-top: 10px;
padding-left: 35px;
}
#listTwo ul {
  font-size: 20px;
  line-height: 1.5em;
  padding-top: 35px;

}
ul {
  list-style-type: none;
}
li:before {
  content: "";
  display: inline-block;
  
  height: 10px;
  width: 10px;
  
  border: 1px solid;
  margin-right: 5px;
  border-radius: 2.5px;
  position: relative;    
}
.linethrough {
  text-decoration: line-through;
  left: -15px;
  position: relative;
}
#secondLine {
  grid-area: l2;
  margin-top: 40px;
  margin-bottom: 20px; 
}
#checkmark {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 14px; 
  position: relative;
  left: -19px;
  top: -2px;
 }
#author {
  grid-area: f;
}

#author img {
  float: left;
  margin-right: 5px;
  max-width: 62px;
  padding-right: 10px;
}
#author h1 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  margin: 0;
  display: inline-block;
  

}
#author p {
  font-family: "Noto Serif JP", serif;
  font-size: 13px;
  

}
#button {
  grid-area: button;
  justify-self: end;
  align-self: center;
  width: 160px;
  background-color: rgb(211, 61, 7);
  height: 50px;

}
#button p {
  padding: 14px;
  margin: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  font-size: 18px;

}

footer {
  grid-area: g;
  margin-top: 60px;
  text-align: center;
  color: rgb(158, 156, 156);
}
footer .logo {
  align-self: center;
  justify-self: center;
  position: relative;
  top: -30px;
  opacity: .5;
}